<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-button [routerLink]="'/taq'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-button (click)="openMenu()">
                <img src="/assets/image/Verzichtsbereich/menu.png" alt="direction">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="container">

        <div class="ion-text-center">
            <h1 class="ion-text-center font-large main-title">
                Meine Zeit ohne <br>
                - Die challenge -
            </h1>

            <div>
                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
            </div>

            <p class="ion-text-center font-size-18"><b>Rückmeldung.</b></p>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col><div>Day</div></ion-col>
                <ion-col><div>Action</div></ion-col>
            </ion-row>

        </ion-grid>

        <div class="gradient-bar"></div>

    </div>

</ion-content>
