<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-button [routerLink]="'/summary'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-menu-button color="medium"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="container">

        <h1 class="font-large">
            MEINE ZEIT
        </h1>

        <h1 class="font-large">
            OHNE
        </h1>

        <div>
            <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
        </div>

        <p class="ion-text-center">Mein persönliches Ziel ist es,<br> für insgesamt 14 Tage auf</p>

        <p class="ion-text-center"><b>Zigaretten</b></p>

        <p class="ion-text-center">zu verzichten.</p>

        <div class="tag">
            <div class="tag-circle">Tag <br>1</div>
        </div>

        <p class="ion-text-center">Ab <b>Tag 2</b> wird Deine <br>Erfolgsruckmeldung von <b>Tag 1</b><br>benötigt</p>

        <p class="ion-text-center">Viel Erfolg beim Erreichen <br> Deiner Ziele.</p>

        <div class="gradient-bar"></div>

    </div>

</ion-content>
