<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-button [routerLink]="'/taq'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-menu-button color="medium"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="container">

        <h1 class="font-large">
            MEINE ZEIT
        </h1>

        <h1 class="font-large">
            OHNE
        </h1>

        <div>
            <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
        </div>

        <p class="ion-text-center"><b>Heute.</b></p>

        <div class="tag">
            <div class="tag-circle">Tag <br>9</div>
        </div>

        <p class="ion-text-center"><b>RÜCKMELDUNG ZU GESTERN</b></p>

        <p class="ion-text-center">Ich habe <b>gestern</b> mein <br> Challenge-Ziel erreicht</p>

        <ion-button expand="block" color="success" shape="round">JA</ion-button>
        <ion-button expand="block" color="success" shape="round">NEIN</ion-button>

        <div class="gradient-bar"></div>

    </div>

</ion-content>

<!--<ion-content [fullscreen]="true" class="home">-->
<!--    <div class="container">-->
<!--        <div class="main-container">-->
<!--            <ion-toolbar>-->
<!--                <ion-buttons slot="start">-->
<!--                    <ion-button [routerLink]="'/taq'">-->
<!--                        <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">-->
<!--                    </ion-button>-->
<!--                </ion-buttons>-->
<!--                <ion-buttons slot="end">-->
<!--                    <ion-menu-button color="medium"></ion-menu-button>-->
<!--                </ion-buttons>-->
<!--            </ion-toolbar>-->
<!--            <div class="content">-->
<!--                <div class="content-header">-->
<!--                    <ion-text color="medium" class="ion-text-center">-->
<!--                        <p class="ion-no-margin large">-->
<!--                            MEINE ZEIT-->
<!--                        </p>-->
<!--                    </ion-text>-->
<!--                    <ion-text color="medium" class="ion-text-center">-->
<!--                        <p class="ion-no-margin large">-->
<!--                            OHNE-->
<!--                        </p>-->
<!--                    </ion-text>-->

<!--                    <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">-->

<!--                    <p>-->
<!--                        <b>Heute.</b>-->
<!--                    </p>-->
<!--                </div>-->

<!--                <div class="content-body">-->
<!--                    <div class="tag">-->
<!--                        <div class="tag-circle">Tag <br>9</div>-->
<!--                    </div>-->
<!--                    <p><b>RÜCKMELDUNG ZU GESTERN</b></p>-->
<!--                    <p>Ich habe <b>gestern</b> mein <br> Challenge-Ziel erreicht</p>-->

<!--                    <ion-button expand="block" color="success" shape="round">JA</ion-button>-->
<!--                    <ion-button expand="block" color="success" shape="round">NEIN</ion-button>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--        <div class="gradient-bar"></div>-->
<!--    </div>-->

<!--</ion-content>-->
