<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-avatar class="logo" slot="start">
                <img src="/assets/icon/favicon.png" alt="logo">
            </ion-avatar>
            <ion-button [routerLink]="'/video-guide'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-button (click)="openMenu()">
                <img src="/assets/image/Verzichtsbereich/menu.png" alt="direction">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container" [ngClass]="{'h-150': dispense?.day_after === 6 || dispense?.day_after === 13}">
        <div>
            <h1 class="ion-text-center font-large">
                Meine Zeit ohne <br>
                - Die challenge -
            </h1>
            <div class="ion-text-center">
                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
            </div>
        </div>

        <div class="text-center speech-bubble"  *ngIf="dispense?.day_after === 13">
            Wow !
            Heute ist Tag 14 deiner <br> Challenge.
        </div>

        <div class="text-center speech-bubble"  *ngIf="dispense?.day_after === 13">
            Erreichst du dein Ziel?
        </div>

<!--        <div *ngIf="['internet', 'game', 'smoking'].includes(selectedCategory?.type)" class="text-center">-->
<!--            Ich rauche/dampfe täglich <br>-->
<!--            maximal <span>{{selectedCategory?.maximumValue}} </span> <span-->
<!--                class="font-weight-bold">{{selectedCategory?.category}}</span>-->
<!--        </div>-->
        <div class="w-100 d-flex flex-row justify-content-end" *ngIf="dispense?.day_after === 6">
            <div class="float-right">
                Tag {{dispense?.day_after + 1}} von 14
            </div>
        </div>

        <div class="text-center"  *ngIf="dispense?.day_after !== 6">
            Ich verzichte für 14 Tage <br>
            komplett auf <span class="font-weight-bold"> {{dispense?.category}}</span>
        </div>

        <div *ngIf="dispense?.day_after !== 6">
            Tag {{dispense?.day_after + 1}} von 14
        </div>

        <div class="text-center speech-bubble"  *ngIf="dispense?.day_after === 13">
            Nach deiner Rückmeldung für <br>
            den heutigen, d.h. letzten Tag <br>
            der Challenge, erhälst du eine <br>
            Teilnehmer - Urkunde. <br>
            Bleib dran !
        </div>

        <div class="text-center bolder-text" *ngIf="dispense?.day_after === 6">
            Bergfest! <br>
            Die Hälfte <br>
            der Challenge <br>
            ist geschafft!
        </div>

        <div class="ion-text-center">
            <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
        </div>

        <div class="text-center"  *ngIf="dispense?.day_after === 6">
            Ich verzichte für 14 Tage <br>
            komplett auf <span class="font-weight-bold"> {{dispense?.category}}</span>
        </div>

        <div class="text-center speech-bubble">
            Hast du gestern <br>
            dein Challenge-Ziel<br>
            erreicht ?
        </div>

        <ion-button expand="block" class="button" color="success" shape="round" [routerLink]="'/daily-feedback'">
            Meide dich zurück!
        </ion-button>

        <div class="gradient-bar"></div>
    </div>

</ion-content>
