.h-150 {
    height: 150%;
}

.bolder-text {
    color: rgb(117, 114, 114);
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, serif;
    line-height: 25px;
}

.container {
    padding: 10px 15px 27px 15px;
    justify-content: space-between;
    align-items: flex-start;
}

.day-7 {
    p {
        letter-spacing: 0.3px;
    }
}
