<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="back-button" [routerLink]="'/challenge-progress'">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div class="w-100">
            <div>
                <div>
                    <ion-text color="primary">
                        <h1 class="primary-color">
                            Abbruch
                            <span class="secondary-color">der Challenge</span>
                        </h1>
                    </ion-text>
                    <p>
                        Ich möchte die Challenge abbrechen, weil...
                    </p>
                </div>
                <div class="mt-30 mb-30">

                </div>
            </div>
            <div class="w-100 select-container">
                <div class="ion-no-margin w-100">
                    <div *ngFor="let item of category; let index = index"
                         class="checkbox-container" (click)="selectCategory(index)">
                        <div class="avatar">
                            <div class="circle">
                                <div class="green-dot" *ngIf="selectedCategory === index"></div>
                            </div>
                        </div>
                        <p class="opacity-3">
                            {{item}}
                        </p>
                    </div>
                </div>
                <ion-input *ngIf="selectedCategory === 2" maxlength="40" class="text-field"
                           [(ngModel)]="anotherCategory"
                           placeholder="Enter anderer grund">
                </ion-input>
            </div>
        </div>
        <div class="text-center button-container">
            <ion-button (click)="onClick()"
                        expand="block" class="button green-button" color="success" shape="round">
                Die Challenge abbrechen
            </ion-button>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-footer>