<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="back-button" [routerLink]="'/category-select/internet'">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="w-100">
            <div>
                <div>
                    <ion-text color="primary">
                        <h1 class="primary-color">
                            Meine Zeit ohne <br>
                            <span class="secondary-color">Die Challenge</span>
                        </h1>
                    </ion-text>
                    <p>
                        Ich verzichte für 14 Tage auf den Streaming - Dienst...
                    </p>
                </div>
                <div class="mt-30 mb-30">

                </div>
            </div>
            <div class="w-100 select-container">
                <div class="ion-no-margin w-100">
                    <div *ngFor="let item of category; let index = index"
                         class="checkbox-container" (click)="selectCategory(index)">
                        <div class="avatar">
                            <div class="circle">
                                <div class="green-dot" *ngIf="selectedCategory === index"></div>
                            </div>
                        </div>
                        <p class="opacity-3">
                            {{item}}
                        </p>
                    </div>
                </div>
                <ion-input *ngIf="selectedCategory === 6" maxlength="40" class="text-field"
                           [(ngModel)]="anotherCategory"
                           placeholder="Enter app name">
                </ion-input>
            </div>
        </div>
        <div class="text-center button-container">
            <ion-button (click)="gotoDetailSelectPage()"
                        expand="block" class="button green-button" color="success" shape="round">
                Weiter
            </ion-button>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-footer>
<!--<ion-content>-->
<!--    <div class="container">-->
<!--        <div>-->
<!--            <h1 class="ion-text-center font-large">-->
<!--                Meine Zeit ohne <br>-->
<!--                - Die challenge - -->
<!--            </h1>-->
<!--            <div class="ion-text-center">-->
<!--                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="w-100 d-flex flex-column align-items-center">-->
<!--            <p class="ion-text-center">-->
<!--                Ich verzichte fur 14 Tage taglich <br> auf eine App bzw. Platform im <br> Bereich:-->
<!--            </p>-->
<!--            <br>-->

<!--            <ion-grid class="ion-no-margin w-100">-->
<!--                <ion-row class="percentage-list" (click)="selectCategory(0)">-->
<!--                    <ion-col size="3" class="avatar">-->
<!--                        <div class="circle"></div>-->
<!--                        <div class="green-dot" *ngIf="selectedCategory === 0"></div>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="9">-->
<!--                        <p>-->
<!--                            YouTube-->
<!--                        </p>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
<!--                <ion-row class="percentage-list" (click)="selectCategory(1)">-->
<!--                    <ion-col size="3" class="avatar">-->
<!--                        <div class="circle"></div>-->
<!--                        <div class="green-dot" *ngIf="selectedCategory === 1"></div>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="9">-->
<!--                        <p>-->
<!--                            Amazon-->
<!--                        </p>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
<!--                <ion-row class="percentage-list" (click)="selectCategory(2)">-->
<!--                    <ion-col size="3" class="avatar">-->
<!--                        <div class="circle"></div>-->
<!--                        <div class="green-dot" *ngIf="selectedCategory === 2"></div>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="9">-->
<!--                        <p>-->
<!--                            Netflix-->
<!--                        </p>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
<!--                <ion-row class="percentage-list" (click)="selectCategory(3)">-->
<!--                    <ion-col size="3" class="avatar">-->
<!--                        <div class="circle"></div>-->
<!--                        <div class="green-dot" *ngIf="selectedCategory === 3"></div>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="9">-->
<!--                        <p>-->
<!--                            Sky-->
<!--                        </p>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
<!--                <ion-row class="percentage-list" (click)="selectCategory(4)">-->
<!--                    <ion-col size="3" class="avatar">-->
<!--                        <div class="circle"></div>-->
<!--                        <div class="green-dot" *ngIf="selectedCategory === 4"></div>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="9">-->
<!--                        <p>-->
<!--                            Apple TV+-->
<!--                        </p>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
<!--                <ion-row class="percentage-list" (click)="selectCategory(5)">-->
<!--                    <ion-col size="3" class="avatar">-->
<!--                        <div class="circle"></div>-->
<!--                        <div class="green-dot" *ngIf="selectedCategory === 5"></div>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="9">-->
<!--                        <p>-->
<!--                            Joyn+-->
<!--                        </p>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
<!--                <ion-row class="percentage-list" (click)="selectCategory(6)">-->
<!--                    <ion-col size="3" class="avatar">-->
<!--                        <div class="circle"></div>-->
<!--                        <div class="green-dot" *ngIf="selectedCategory === 6"></div>-->
<!--                    </ion-col>-->
<!--                    <ion-col size="9">-->
<!--                        <ion-input maxlength="40" class="other-category" [(ngModel)]="anotherCategory" placeholder="Anderer Straeming-Dienst"></ion-input>-->
<!--                    </ion-col>-->
<!--                </ion-row>-->
<!--            </ion-grid>-->

<!--            <ion-button (click)="gotoDetailSelectPage()"-->
<!--                    expand="block" class="button green-button" color="success" shape="round">-->
<!--                Weiter-->
<!--            </ion-button>-->
<!--            <br>-->
<!--        </div>-->

<!--        <div class="gradient-bar"></div>-->
<!--    </div>-->
<!--</ion-content>-->