<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" class="">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div>
            <ion-text color="primary">
                <h1 class="primary-color">
                    Meine Zeit ohne <br>
                    <span class="secondary-color">Die Challenge</span>
                </h1>
            </ion-text>

            <p *ngIf="['internet', 'game'].includes(selectedCategory?.type)">
                Ich rauche/dampfe täglich maximal <b>{{selectedCategory?.maximumValue}} Minuten {{selectedCategory?.category}}</b>
            </p>
            <p *ngIf="selectedCategory?.type === 'smoking'">
                Ich rauche/dampfe täglich maximal <b>{{selectedCategory?.maximumValue}} {{selectedCategory?.category}}</b>
            </p>
            <p *ngIf="['alkohol', 'canabis', 'gluck', 'other'].includes(selectedCategory?.type)">
                In den nächsten 14 Tage komplett auf <b>{{selectedCategory?.category}}</b>
            </p>
        </div>

        <div class="bubble progress-container w-100">
            <circle-progress [percent]="100 * 1 / 14"></circle-progress>
            <p>Tag 1 von 14</p>
        </div>

        <div>
            <div class="bubble bubble-left mb-2">
                <img src="/assets/image/New/bubble-left.png" alt="bubble-right">
                <p>
                    Ab morgen kannst du täglich zurückmelden, ob du dein Challenge-Ziel erreicht hast.
                </p>
            </div>
            <div class="bubble bubble-left">
                <img src="/assets/image/New/bubble-left.png" alt="bubble-right">
                <p>
                    Wie zuversichtlich bist du, dass du morgen dein Ziel erreichst?
                </p>
            </div>
        </div>

        <div class="bubble emoji">
            <div class="emoji-image" [ngClass]="{'selected-emoji': selectedEmoji === 0}" style="background-image: url('/assets/image/New/emoji-1.png')" (click)="reaction(0)"></div>
            <div class="emoji-image" [ngClass]="{'selected-emoji': selectedEmoji === 1}" style="background-image: url('/assets/image/New/emoji-2.png')" (click)="reaction(1)"></div>
            <div class="emoji-image" [ngClass]="{'selected-emoji': selectedEmoji === 2}" style="background-image: url('/assets/image/New/emoji-3.png')" (click)="reaction(2)"></div>
            <div class="emoji-image" [ngClass]="{'selected-emoji': selectedEmoji === 3}" style="background-image: url('/assets/image/New/emoji-4.png')" (click)="reaction(3)"></div>
            <div class="emoji-image" [ngClass]="{'selected-emoji': selectedEmoji === 4}" style="background-image: url('/assets/image/New/emoji-5.png')" (click)="reaction(4)"></div>
            <div class="emoji-image" [ngClass]="{'selected-emoji': selectedEmoji === 5}" style="background-image: url('/assets/image/New/emoji-6.png')" (click)="reaction(5)"></div>
        </div>

        <div  *ngIf="showLastSpeech" class="bubble bubble-left">
            <img src="/assets/image/New/bubble-left.png" alt="bubble-right">
            <p>
                Danke für deine Einschätzung! <b>Viel Erfolg!</b>
            </p>
        </div>
    </div>

</ion-content>

<ion-footer>
    <div class="bar">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-footer>
