ion-header {
    position: fixed;
    height: 50px;
}
ion-content {
    .main-container {
        background: url("/assets/image/QR Code Scanner/home_png.png") no-repeat center top fixed;
        background-size: 100% 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .header-container {
            padding-top: 70px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            color: var(--ion-color-light);

            .large {
                font-size: 36px;
                text-align: center;
                color: var(--ion-color-light);
                font-family: Raleway-Regular;
                line-height: 50px;
                padding: 0 25px;
            }

            h2 {
                font-family: Raleway-Regular;
            }

        }

        .input-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(37, 36, 36, 0.68);
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            height: 100%;

            .input-container-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 100%;

                .qrcode-container {
                    display: flex;
                    flex-direction: column;
                    height: 233px;
                    position: relative;
                    width: 233px;
                    justify-content: space-between;

                    .qrcode-image {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 10px;
                    }

                    .border-top, .border-bottom {
                        display: flex;
                        justify-content: space-between;

                        div {
                            width: 50px;
                            height: 50px;
                        }
                    }

                    .border-top {
                        .border-left {
                            border-top: 3px solid #29c467;
                            border-left: 3px solid #29c467;
                            border-right: 0 solid #29c467;
                            border-bottom: 0 solid #29c467;
                        }

                        .border-right {
                            border-top: 3px solid #29c467;
                            border-right: 3px solid #29c467;
                            border-left: 0 solid #29c467;
                            border-bottom: 0 solid #29c467;
                        }
                    }

                    .border-bottom {
                        .border-left {
                            border-top: 0 solid #29c467;
                            border-left: 3px solid #29c467;
                            border-right: 0 solid #29c467;
                            border-bottom: 3px solid #29c467;
                        }

                        .border-right {
                            border-top: 0 solid #29c467;
                            border-left: 0 solid #29c467;
                            border-right: 3px solid #29c467;
                            border-bottom: 3px solid #29c467;
                        }
                    }
                }
            }

            .bar {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;

                .gradient-bar {
                    width: 100vw;
                }
            }
        }
    }

    ion-button {
        width: 80vw;
    }
}
