<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/home'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button (click)="openMenu()">
                <img src="/assets/image/Home/menu.png" alt="direction">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="main-container">
        <div class="header-container">
            <h1 class="ion-no-margin large">
                MEINE ZEIT
            </h1>
            <h1 class="ion-no-margin large">
                OHNE
            </h1>
            <ion-text color="light" class="ion-text-center">
                <h2>
                    -Login-
                </h2>
            </ion-text>
        </div>

        <div class="input-container">
            <div class="input-container-box">
                <ion-text color="light" class="ion-text-center">
                    <h1 class="font-weight-bold ion-no-margin">
                        __
                    </h1>
                </ion-text>
                <div class="qrcode-container">
                    <div class="border-top ">
                        <div class="border-left border"></div>
                        <div class="border-right border"></div>
                    </div>
                    <div class="qrcode-image">
                        <img src="/assets/image/QR%20Code%20Scanner/Bitmap.png">
                    </div>

                    <div class="border-bottom ">
                        <div class="border-left border"></div>
                        <div class="border-right border"></div>
                    </div>
                </div>
                <ion-button (click)="openCameraForScan()" expand="full" class="button" color="success" shape="round">STARTE CHALLENGE
                </ion-button>
            </div>
<!--            <div class="bar">-->
<!--                <div class="gradient-bar"></div>-->
<!--            </div>-->
        </div>
    </div>

</ion-content>
