<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" menuId="menu" type="overlay">
            <ion-header>
                <ion-toolbar>
                    <p class="ion-no-margin text-center">Menu</p>
                    <ion-buttons slot="end" class="">
                        <ion-button class="menu-button" (click)="closeMenu()">
                            <ion-icon name="close-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content *ngIf="!currentCode?.isAdmin && menuStatus === 0">
                <ion-list id="inbox-list">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                                  detail="false" [class.selected]="selectedIndex == i">
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-content *ngIf="!currentCode?.isAdmin && menuStatus === 1">
                <ion-list id="inbox-list">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages2; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                                  detail="false" [class.selected]="selectedIndex == i">
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-content *ngIf="!currentCode?.isAdmin && menuStatus === 2">
                <ion-list id="inbox-list">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appEndPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                                  detail="false" [class.selected]="selectedIndex == i">
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-content class="admin-menu" color="dark" *ngIf="currentCode?.isAdmin">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of adminPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                                  detail="false" [class.selected]="selectedIndex == i">
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-footer>
                <p class="copyright">Copyright | Design</p>
                <div class="bar">
                    <div class="footer-bar footer-bar-grey"></div>
                </div>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
