<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div>
            <ion-text color="primary">
                <h1 class="primary-color">
                    Meine Zeit ohne <br>
                    <span class="secondary-color">Die Challenge</span>
                </h1>
            </ion-text>
            <div class="bubble bubble-left mb-2">
                <img src="/assets/image/New/bubble-left.png" alt="bubble-right">
                <p>
                    Du hast dich länger nicht zurückgemeldet
                </p>
            </div>
            <div class="bubble bubble-left">
                <img src="/assets/image/New/bubble-left.png" alt="bubble-right">
                <p>
                    Hast du deine täglichen Challengeziele erreicht?
                </p>
            </div>
        </div>

        <div class="text-center missing-days">
            <ion-button *ngFor="let day of missingFeedback" expand="block" class="button custom" color="success"
                        shape="round" (click)="setFeedback(day)">
                Rückmeldung Tag {{day}}
            </ion-button>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-footer>
