<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="back-button" [routerLink]="'/category-select'">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div class="w-100">
            <div>
                <div>
                    <ion-text color="primary">
                        <h1 class="primary-color">
                            Meine Zeit ohne <br>
                            <span class="secondary-color">Die Challenge</span>
                        </h1>
                    </ion-text>
                </div>
                <div class="mt-30 mb-30 select-container">
                    <app-input-number
                            [(model)]="currentValue"
                            [step]="2"
                            [maxValue]="50"
                            [placeholder]="placeholder"
                            [label]="label[0]">
                    </app-input-number>
                    <app-input-number
                            [(model)]="hopeValue"
                            [step]="2"
                            [maxValue]="50"
                            [placeholder]="placeholder"
                            [label]="label[1]">
                    </app-input-number>
                    <app-input-number
                            [model]="currentValue - hopeValue"
                            [step]="2"
                            [maxValue]="50"
                            [placeholder]="placeholder"
                            [disabled]="true"
                            [label]="label[2]">
                    </app-input-number>
                </div>
            </div>
        </div>
        <div class="text-center button-container">
            <ion-button (click)="gotoDetailSelectPage()"
                        expand="block" class="button green-button" color="success" shape="round">
                Jetzt geht´s los
            </ion-button>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-footer>
