.font-large {
    line-height: 50px;
    padding: 0 25px;
}

.container {
    padding: 0;
}

.green-button {
    width: 80%;
    text-transform: none;
}

.input-category {
    --padding-start: 0;
    --padding-bottom: 0;
    --padding-top: 0;
}