.back-button {
    background-color: #F2F2F2;
}

.container {
    align-items: flex-start;
    justify-content: space-between;

    h1 {
        margin-bottom: 10px;
    }

    .text-field {
        margin-top: 28px;
    }

    ion-button.button {
        margin-bottom: 12px;
    }
}
