.input-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;

  div:first-child {
    font-size: 16px;
  }

  .number-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .button {
      margin-left: 10px;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      --background: '#ffffff';
    }
  }
}

p {
  margin-bottom: 5px;
}