<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-button [routerLink]="'/taq'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-button (click)="openMenu()">
                <img src="/assets/image/Verzichtsbereich/menu.png" alt="direction">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="container">

        <div class="ion-text-center">
            <h1 class="font-large">
                MEINE ZEIT
            </h1>

            <h1 class="font-large">
                OHNE
            </h1>

            <div>
                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
            </div>

            <p class="ion-text-center font-size-18"><b>Heute.</b></p>
        </div>

        <div class="tag">
            <div class="tag-circle">Tag <br>{{dispense.Day_After + 1}}</div>
        </div>

        <p class="ion-text-center"><b>RÜCKMELDUNG ZU GESTERN</b></p>

        <p class="ion-text-center">Ich habe <b>gestern</b> mein <br> Challenge-Ziel erreicht</p>

        <ion-button expand="block" color="success" shape="round" (click)="daily_Success(true)">JA</ion-button>
        <ion-button expand="block" color="success" shape="round" (click)="daily_Success(false)">NEIN</ion-button>

        <div class="gradient-bar"></div>

    </div>

</ion-content>
