<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <h1 class="text-center">
            Datenschutzerklärung für die App <br>
            "Meine Zeit ohne – Die Challenge"
        </h1>
        <h3>Präambel</h3>
        <p>Die App „Meine Zeit ohne – Die Challenge“ (im Folgenden App) wird von der</p>
        <p>
            IFT-Nord Institut für Therapie- und Gesundheitsforschung gemeinnützige GmbH <br>
            Harmsstraße 2 <br>
            24114 Kiel <br>
            Geschäftsführer: Prof. Dr. Reiner Hanewinkel <br>
            (im Folgenden wir/uns)
        </p>
        <p>als Verantwortliche im Sinne des jeweils geltenden Datenschutzrechts zur Verfügung gestellt.</p>
        <p>Unsere Datenschutzbeauftragte Frau Diana Schulz erreichen Sie unter der oben genannten
            Anschrift und per E-Mail an: schulz@ift-nord.de.</p>
        <p>Projektpartner am Standort <b>Hamburg:</b></p>
        <p>
            Universitätsklinikum Hamburg-Eppendorf <br>
            Prof. Dr. Rainer Thomasius <br>
            Martinistraße 52 <br>
            20246 Hamburg <br>
        </p>
        <p>
            Datenschutzbeauftragter: Matthias Jaster <br>
            Universitätsklinikum Hamburg-Eppendorf <br>
            Martinistraße 52 <br>
            20246 Hamburg <br>
            Tel. 040/7410-56890 <br>
            E-Mail: m.jaster@uke.de
        </p>
        <p>Projektpartner am Standort <b>Bayern:</b></p>
        <p>
            Institut für Therapieforschung <br>
            Dr. Kirsten Lochbühler <br>
            Leopoldstraße 175 <br>
            80804 München
        </p>
        <p>
            Datenschutzbeauftragter: Zlatko Dracic <br>
            Datenschutzbeauftragter (IHK) <br>
            Externer Datenschutzbeauftragter des IFT <br>
            Leopoldstraße 175 <br>
            D-80804 München <br>
            Telefon: 089 – 92896945 <br>
            E-Mail: datenschutzbeauftragter@ift.de <br>
        </p>
        <p>Die App ermöglicht Ihnen die Teilnahme an einer 14-tägigen Verzichts- oder Reduktionsübung. Der/Die Nutzer*in
            kann auswählen, auf welchen der folgenden Bereiche er/sie 14
            Tage verzichten bzw. reduzieren möchte.</p>
        <ul>
            <li>Tabakkonsum</li>
            <li>Cannabiskonsum</li>
            <li>Alkoholkonsum</li>
            <li>Internet-/Smartphonenutzung</li>
            <li>Glücksspielen</li>
        </ul>
        <p>Der/Die Nutzer*in legt sein/ihr eigenes Challenge-Ziel fest und startet die Challenge. Tägliches Erinnern
            durch Push-Nachrichten sollen bei der Zielerreichung unterstützen.</p>
        <p>Bei der Nutzung der App werden von uns personenbezogene Daten über Sie verarbeitet.
            Unter personenbezogenen Daten sind sämtliche Informationen zu verstehen, die sich auf
            eine identifizierte oder identifizierbare natürliche Person beziehen. Weil uns der Schutz Ihrer
            Privatsphäre bei der Nutzung der App wichtig ist, möchten wir Sie mit den nachfolgenden
            Angaben darüber informieren, welche personenbezogenen Daten wir verarbeiten, wenn Sie
            die App nutzen und wie wir mit diesen Daten umgehen. Darüber hinaus unterrichten wir Sie
            über die Rechtsgrundlage für die Verarbeitung Ihrer Daten und, soweit die Verarbeitung zur
            Wahrung unserer berechtigten Interessen erforderlich ist, auch über unsere berechtigten
            Interessen. </p>
        <p>Sie können diese Datenschutzerklärung jederzeit unter dem Menüeintrag „Datenschutz“ innerhalb der App abrufen
            oder auf www.meinezeitohne.de downloaden.</p>
        <h3>1. Informationen zur Verarbeitung Ihrer Daten</h3>
        <p>Bestimmte Informationen werden automatisch verarbeitet, sobald Sie die App verwenden.
            Welche personenbezogenen Daten genau verarbeitet werden, haben wir im Folgenden für
            Sie aufgeführt:
        </p>
        <h3>1.1 Informationen, die beim Download erhoben werden</h3>
        <p>Beim Download der App werden bestimmte erforderliche Informationen an den von
            Ihnen ausgewählten App Store (z.B. Google Play oder Apple App Store) übermittelt,
            insbesondere können dabei der Nutzername, die E-Mail-Adresse, die Kundennummer Ihres Accounts, der Zeitpunkt
            des Downloads, Zahlungsinformationen sowie
            die individuelle Gerätekennziffer verarbeitet werden. Die Verarbeitung dieser Daten
            erfolgt ausschließlich durch den jeweiligen App Store und liegt außerhalb unseres
            Einflussbereiches.
        </p>

        <h3>1.2 Informationen, die automatisch erhoben werden</h3>
        <p>Im Rahmen Ihrer Nutzung der App erheben wir bestimmte Daten automatisch, die für
            die Nutzung der App erforderlich sind. Hierzu gehören:</p>
        <p>- IP-Adresse</p>
        <p>- Geräte-ID</p>
        <p>- Betriebssystem mit Version</p>
        <p>- Browser</p>
        <p>- Zeitpunkt des Zugriffs</p>
        <p>Diese Daten werden automatisch an uns übermittelt, aber nicht gespeichert, (1) um
            Ihnen den Dienst und die damit verbundenen Funktionen zur Verfügung zu stellen;
            (2) die Funktionen und Leistungsmerkmale der App zu verbessern und (3) Missbrauch sowie Fehlfunktionen
            vorzubeugen und zu beseitigen. Diese Datenverarbeitung ist dadurch gerechtfertigt, dass die Verarbeitung für
            die Erfüllung des Vertrags
            zwischen Ihnen als Betroffener und uns gemäß Art. 6 Abs. 1 lit. a) DSGVO zur Nutzung der App erforderlich
            ist.</p>
        <h3>1.3 Erstellung eines Nutzeraccounts (Registrierung) und Anmeldung</h3>
        <p>Wenn Sie einen Nutzeraccount erstellen, bekommen Sie durch unsere Datenerheber*innen vor Ort einen
            Zufallscode, mit dem Sie sich anmelden und einloggen sowie
            den Code abfotografieren bzw. den Zettel aufheben für späteres einloggen.</p>
        <p>Die von Ihnen im Rahmen der Registrierung oder einer Anmeldung eingegebenen
            Daten werden von uns verarbeitet und verwendet, (1) um Ihre Berechtigung zur Verwaltung des Nutzeraccounts
            zu verifizieren; (2) die Nutzungsbedingungen der App
            sowie alle damit verbundenen Rechte und Pflichten durchzusetzen.</p>
        <p>Diese Datenverarbeitung ist dadurch gerechtfertigt, dass (1) die Verarbeitung für die
            Erfüllung des Vertrags zwischen Ihnen als Betroffener und uns gemäß Art. 6 Abs. 1
            lit. a) DSGVO zur Nutzung der App erforderlich ist.</p>
        <h3>1.4 Nutzung der App</h3>
        <p>Im Rahmen der App können Sie diverse Informationen, Aufgaben und Aktivitäten eingeben, verwalten und
            bearbeiten. Diese Informationen umfassen insbesondere Daten
            über die Erreichung/Nichterreichung der von Ihnen festgelegten Ziele bezüglich des
            Konsums.</p>
        <p>Die App erfordert darüber hinaus folgende Berechtigungen:</p>
        <p>– Internetzugriff: Dieser wird benötigt, um Ihre Eingaben auf unseren Servern zu
            speichern.</p>
        <p>– Push-Benachrichtigungen zulassen, zur Erinnerung an die tägliche Angabe Ihres
            ausgewählten Konsumverhaltens (s. 1.5 Token).</p>
        <p>Die Verarbeitung und Verwendung von Nutzungsdaten erfolgt zur Bereitstellung des
            Dienstes. Diese Datenverarbeitung ist dadurch gerechtfertigt, dass die Verarbeitung
            für die Erfüllung des Vertrags zwischen Ihnen als Betroffener und uns gemäß Art. 6
            Abs. 1 lit. a) DSGVO zur Nutzung der App erforderlich ist.</p>
        <h3>1.5 Token</h3>
        <p>Um Ihnen unabhängig davon, ob Sie die MZo-App geöffnet haben, Nachrichten zukommen zu lassen, wird bei Endgeräten mit dem Betriebssystem Android das sogenannte Firebase Cloud Messaging (FCM) und bei Endgeräten mit dem Betriebssystem iOS der sogenannte Apple Push Notification Service (APNS) genutzt. Das heißt,
            eine Nachricht wird von den Servern des Betreibers zunächst an die Server von
            Google bzw. Apple gesendet, die die jeweilige Nachricht dann auf Ihr Endgerät weiterleiten. Damit die Server von Google bzw. Apple zuordnen können, welche Nach-
            richt an welches Endgerät gerichtet ist, erhält der Betreiber ein sogenanntes Token.
            Dieses Token wird auf den Servern von Google bzw. Apple erstellt und verschlüsselt
            an die Server des Betreibers übermittelt. Der Betreiber nutzt das Token nur, um Ihnen
            über die MZo-App Nachrichten zukommen zu lassen. Einen Rückschluss auf Ihre
            Person ermöglicht das Token dem Betreiber nicht.</p>
        <h3>1.6 Cookies</h3>
        <p>Die App verwendet sogenannte "Cookies". Cookies sind kleine Textdateien, die von
            einem Server auf Ihre Festplatte übertragen werden. Hierdurch erhält der Betreiber
            der App automatisch bestimmte Daten wie z. B. IP-Adresse, verwendeter Browser,
            Betriebssystem und Ihre Verbindung zum Internet. Cookies können nicht verwendet
            werden, um Programme zu starten oder Viren auf Ihr Smartphone oder Tablet zu
            übertragen. Die in Cookies enthaltenen Informationen können Ihnen die Navigation
            erleichtern und die korrekte Anzeige der mobilen Website ermöglichen. In keinem Fall
            werden die vom Betreiber der App erfassten Daten an Dritte weitergegeben oder ohne Ihre Einwilligung eine Verknüpfung mit personenbezogenen Daten hergestellt. Natürlich können Sie die mobile Seite grundsätzlich auch ohne Cookies betrachten. Internet Browser sind regelmäßig so eingestellt, dass sie Cookies akzeptieren. Im Allgemeinen können Sie die Verwendung von Cookies jederzeit über die Einstellungen
            Ihres Browsers deaktivieren.</p>
        <h3>2. Weitergabe und Übertragung von Daten</h3>
        <p>Eine Weitergabe Ihrer personenbezogenen Daten ohne Ihre ausdrückliche vorherige Einwilligung erfolgt neben den explizit in dieser Datenschutzerklärung genannten Fällen lediglich
            dann, wenn es gesetzlich zulässig bzw. erforderlich ist. Dies kann u.a. der Fall sein, wenn
            die Verarbeitung erforderlich ist, um lebenswichtige Interessen des Nutzers oder einer anderen natürlichen Person zu schützen.</p>
        <p>Wir sind für die Erbringung unseres Dienstes auf vertraglich verbundene Fremdunternehmen
            und externe Dienstleister angewiesen:</p>
        <p>
            Hetzner Online GmbH <br>
            Industriestr. 25 <br>
            91710 Gunzenhausen <br>
            Tel.: 09831 505-0* <br>
            Fax: 09831 505-3 <br>
            E-Mail: info@hetzner.com
        </p>
        <p>
            WEBGONDEL UG <br>
            Rickey Faustka <br>
            Lerchenstraße 3 <br>
            91091 Großenseebach <br>
            Tel.: 09135 7355 825 <br>
            Fax: 09135 7355 826 <br>
            E-Mail: rf@webgondel.de
        </p>
        <p>
            Eine etwaige Weitergabe der personenbezogenen Daten ist dadurch gerechtfertigt, dass (1)
            wir ein berechtigtes Interesse daran haben, die Daten für administrative Zwecke innerhalb
            unserer Unternehmensgruppe weiterzugeben und Ihre Rechte und Interessen am Schutz
            Ihrer personenbezogenen Daten im Sinne von Art. 6 Abs. 1 lit. f) DSGVO nicht überwiegen
            und (2) wir unsere Fremdunternehmen und externen Dienstleister im Rahmen von Art. 28
            Abs. 1 DSGVO als Auftragsverarbeiter sorgfältig ausgewählt, regelmäßig überprüft und vertraglich verpflichtet haben, sämtliche personenbezogenen Daten ausschließlich entsprechend unserer Weisungen zu verarbeiten.
        </p>
        <h3>3. Datenübermittlungen in Drittländer</h3>
        <p>Es werden keine Datenübermittlungen Ihrer personenbezogenen Daten in Drittländer vorgenommen.</p>
        <h3>4. Zweckänderungen</h3>
        <p>Verarbeitungen Ihrer personenbezogenen Daten zu anderen als den beschriebenen Zwecken erfolgen nur, soweit eine Rechtsvorschrift dies erlaubt oder Sie in den geänderten
            Zweck der Datenverarbeitung eingewilligt haben. Im Falle einer Weiterverarbeitung zu anderen Zwecken als denen, für den die Daten ursprünglich erhoben worden sind, informieren wir
            Sie vor der Weiterverarbeitung über diese anderen Zwecke und stellen Ihnen sämtliche weitere hierfür maßgeblichen Informationen zur Verfügung.</p>
        <h3>5. Zeitraum der Datenspeicherung</h3>
        <p>Wir löschen den Code, sobald dieser für die Zwecke, für die wir ihn nach den vorstehenden
            Ziffern verwendet haben, nicht mehr erforderlich sind.</p>
        <p>Spezifische Angaben in dieser Datenschutzerklärung oder rechtliche Vorgaben zur Aufbewahrung und Löschung personenbezogener Daten, insbesondere solcher, die wir aus
            steuerrechtlichen Gründen aufbewahren müssen, bleiben unberührt.</p>
        <h3>6. Ihre Rechte als Betroffener</h3>
        <p>Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:</p>
        <p>
            - Auskunftsrecht
            - Recht zur Berichtigung unrichtiger Daten
            - Recht auf Löschung
            - Recht auf Einschränkung der Verarbeitung
            - Recht auf Datenübertragbarkeit
        </p>
        <h3>6.1 Widerspruchsrecht</h3>
        <p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben,
            jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die u.a.
            aufgrund von Art. 6 Abs. 1 lit. e) oder f) DSGVO erfolgt, Widerspruch nach Art. 21
            DSGVO einzulegen. Wir werden die Verarbeitung Ihrer personenbezogenen Daten
            einstellen, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder
            wenn die Verarbeitung der Geltendmachung, Ausübung oder Verteidigung von
            Rechtsansprüchen dient.</p>
        <h3>6.2 Beschwerderecht</h3>
        <p>Sie haben ferner das Recht, sich bei Beschwerden an die zuständige Aufsichtsbehörde zu wenden. Die zuständige Aufsichtsbehörde ist:</p>
        <h3>Schleswig-Holstein</h3>
        <p>
            ULD – Unabhängiges Landeszentrum für Datenschutz Schleswig-Holstein
            Holstenstraße 98
            24103 Kiel
            E-Mail: mail@datenschutzzentrum.de
            Telefon: 0431 988-1200
            Fax: 0431 988-12239
        </p>
        <h3>Hamburg</h3>
        <p>
            Der Hamburgische Beauftragte für Datenschutz und Informationsfreiheit
            Ludwig-Erhard-Str 22, 7. OG
            20459 Hamburg
            E-Mail: hmbbfdi@hamburg.de-mail.de
            Telefon: 040 428 54 – 4040
            Fax: 040 428 54 - 4000
        </p>
        <h3>Bayern</h3>
        <p>
            Bayerisches Landesamt für Datenschutzaufsicht (BayLDA)
            Promenade 18
            91522 Ansbach
            E-Mail: poststelle@lda.bayern.de
            Telefon: 0981 180093-0
            Fax: 0981 180093-800
        </p>
        <h3>6.3 Sollten Sie Fragen oder Anmerkungen zu unserem Umgang mit Ihren</h3>
        <p>personenbezogenen Daten haben oder möchten Sie die unter Ziffer 6 genannten Rechte als
            betroffene Person ausüben, wenden Sie sich bitte an die jeweiligen Datenschutzbeauftragten:</p>
        <h3>Schleswig-Holstein</h3>
        <p>
            Diana Schulz
            IFT-Nord Institut für Therapie- und Gesundheitsforschung gemeinnützige GmbH
            Harmsstraße 2
            24114 Kiel
            E-Mail: schulz@ift-nord.de
        </p>
        <h3>Hamburg</h3>
        <p>
            Matthias Jaster
            Universitätsklinikum Hamburg-Eppendorf
            Martinistraße 52
            20246 Hamburg
            Tel. 040/7410-56890
            E-Mail: m.jaster@uke.de
        </p>
        <h3>Bayern</h3>
        <p>
            Zlatko Dracic
            Datenschutzbeauftragter (IHK)
            Externer Datenschutzbeauftragter des IFT
            Leopoldstraße 175
            D-80804 München
            Telefon: 089 - 92896945
            E-Mail: datenschutzbeauftragter@ift.de
        </p>
        <h3>7. Support</h3>
        <p>Bei Fragen oder Anmerkungen zum praktischen Umgang und der Bedienung der App oder
            bei Supportanfragen wenden Sie sich bitte montags bis freitags von 9.00–17.00 Uhr (außer
            an gesetzlichen Feiertagen)] an 0431-5702943.</p>
        <h3>8. Änderungen dieser Datenschutzerklärung</h3>
        <p>Wir halten diese Datenschutzerklärung immer auf dem neuesten Stand. Deshalb behalten
            wir uns vor, sie von Zeit zu Zeit zu ändern und Änderungen bei der Erhebung, Verarbeitung
            oder Nutzung Ihrer Daten nachzupflegen. Die aktuelle Fassung der Datenschutzerklärung ist
            stets unter „Datenschutz“ innerhalb der App abrufbar.</p>
        <p>Stand: 20.07.2020</p>
    </div>
</ion-content>
