<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="back-button" [routerLink]="'/home'">
                <ion-icon size="large" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="main-container">
        <div class="blank-100"></div>

        <div class="input-container">
            <div class="input-container-box">
                <ion-text color="primary" class="ion-text-center">
                    <h1 class="primary-color">
                        Willkommen bei meine Zeit ohne <span class="secondary-color">Die Challenge</span>
                    </h1>
                </ion-text>
                <div class="open-mail">
                    <p class="text-center">Login nicht möglich?</p>
                    <h3 (click)="open_mailApp()">Wende Dich an mzo@ift-nord.de</h3>
                </div>
            </div>
            <div class="bar">
                <div class="footer-bar footer-bar-grey"></div>
            </div>
        </div>
    </div>
</ion-content>
