ion-header {
    position: fixed;
    height: 50px;
    ion-toolbar {
        --background: transparent!important;
    }
}

ion-content {
    display: flex;
    flex-direction: column;

    .input-container-box {
        justify-content: flex-start;
    }

    .open-mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60%;
        p {
            opacity: 0.3;
        }
    }
}