<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-avatar class="logo" slot="start">
                <img src="/assets/icon/favicon.png" alt="logo">
            </ion-avatar>
            <ion-button [routerLink]="'/before-feedback'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-button (click)="openMenu()">
                <img src="/assets/image/Verzichtsbereich/menu.png" alt="direction">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div>
            <h1 class="ion-text-center font-large">
                Meine Zeit ohne <br>
                - Die challenge -
            </h1>
            <div class="ion-text-center">
                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
            </div>
        </div>

        <!--        <div *ngIf="['internet', 'game', 'smoking'].includes(selectedCategory?.type)" class="text-center">-->
        <!--            Ich rauche/dampfe täglich <br>-->
        <!--            maximal <span>{{selectedCategory?.maximumValue}} </span> <span-->
        <!--                class="font-weight-bold">{{selectedCategory?.category}}</span>-->
        <!--        </div>-->

        <div class="text-center">
            Tägliche Rückmeldung
        </div>

        <div class="text-center speech-bubble">
            Ich verzichte für 14 Tage <br>
            komplett auf <span class="font-weight-bold"> {{dispense?.category}}</span>
        </div>

        <div>
            <ion-button expand="block" class="button custom" color="success" shape="round" (click)="setFeedback(true)">
                Ja, ich habe gestern mein Challenge - <br>
                Ziel erreicht.
            </ion-button>

            <br>

            <ion-button expand="block" class="button custom" color="success" shape="round" (click)="setFeedback(false)">
                Nein, ich habe gestern nicht mein <br>
                Challenge - Ziel erreicht
            </ion-button>
        </div>

        <div class="gradient-bar"></div>
    </div>

</ion-content>
