<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" class="">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div class="blank-30">
            <div>
                <ion-text color="primary">
                    <h1 class="primary-color">
                        Meine Zeit ohne <br>
                        <span class="secondary-color">Die Challenge</span>
                    </h1>
                </ion-text>
                <p>
                    In den nächsten 14 Tage komplett auf <b>{{dispense?.category}}</b>
                </p>
            </div>
            <div class="bubble progress-container w-100">
                <circle-progress [percent]="(dispense?.day_after) * 100 / 14"></circle-progress>
                <p>Tag {{dispense?.day_after + 1}} von 14</p>
            </div>
        </div>
        <div class="primary-pane border-top-right-radius">
            <p class="text-center title">Tägliche Rückmeldung</p>
            <div class="bubble progress-container daily-result-container w-100" (click)="setFeedback(true)">
                <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
                <p><b>Ja</b>, ich habe gestern mein Challenge - Ziel erreicht.</p>
            </div>
            <div class="bubble progress-container daily-result-container w-100 negative" (click)="setFeedback(false)">
                <ion-icon color="danger" name="close-circle-outline"></ion-icon>
                <p><b>Nein</b>, ich habe gestern nicht mein Challenge - Ziel erreicht.</p>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer class="ion-no-border">
    <div class="bar">
        <div class="footer-bar footer-bar-white"></div>
    </div>
</ion-footer>