.container {
    align-items: flex-start;
    justify-content: flex-start;

    h1 {
        margin-bottom: 30px;
    }

    .emoji {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;

        img {
            width: 49px;
            height: 49px;
        }
    }

    .emoji-image {
        width: 42px;
        height: 42px;
        background-position: center;
    }

    .selected-emoji {
        border: 1.5px solid #2CB9B0;
        border-radius: 50%;
    }
}