<ion-header>
    <ion-toolbar>
        <ion-avatar class="logo" slot="start">
            <img src="/assets/icon/favicon.png" alt="logo">
        </ion-avatar>
        <ion-buttons slot="end">
            <ion-button (click)="openMenu()">
                <img src="/assets/image/Home/menu.png" alt="direction">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="main-container">
        <div class="header-container">
            <h1 class="ion-no-margin large">
                Willkommen bei Meine Zeit ohne - Die Challenge
            </h1>
<!--            <ion-text color="light" class="ion-text-center">-->
<!--                <h2>-->
<!--                    -Login- -->
<!--                </h2>-->
<!--            </ion-text>-->
        </div>

        <div class="input-container">
            <div class="input-container-box">
                <ion-text color="light" class="ion-text-center">
                    <h1 class="font-weight-bold header-line ion-no-margin">
                        ___
                    </h1>
                </ion-text>
                <form class="form-code">
                    <ion-input class="input-code" [(ngModel)]="code" name="code" placeholder="Freischaltcode eingeben"></ion-input>
                    <p class="mat-error ion-text-center" *ngIf="attemptCount !== 0">You have {{5 - attemptCount}} attempts.</p>
                    <p class="forgot-code" (click)="gotoBackup()">Teilnahme-Code vergessen?</p>
                    <div class="privacy-checkbox">
                        <ion-checkbox color="primary" [checked]="isChecked" (ionChange)="onChange()"></ion-checkbox>
                        <ion-label color="light">Ich erkläre mich himit mit der <span class="border-bottom" [routerLink]="'/privacy'">Datenschutzerklärung</span> einverstanden</ion-label>
                    </div>
                    <ion-button expand="block" [disabled]="!code || !isChecked" class="button-code" color="success" shape="round" (click)="code_check()">
                        STARTE CHALLENGE
                    </ion-button>
                </form>
            </div>
            <div class="bar">
                <div class="gradient-bar"></div>
            </div>
        </div>
    </div>
</ion-content>
