<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" class="">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div class="white-pane bottom-right-round">
            <div class="white-pane-content">
                <iframe width="345"
                        height="309"
                        class="youtube-iframe"
                        [src]="this.trustedVideoUrl"
                        (load)="getVideoUrl() ? handleIFrameLoadEvent() : null"
                        frameborder="0"
                        allowfullscreen></iframe>
                <ion-text color="primary">
                    <h1 class="primary-color">
                        Meine Zeit ohne <br>
                        <span class="secondary-color">Die Challenge</span>
                    </h1>
                </ion-text>
            </div>
        </div>

        <ion-toggle class="swipe-toggle" [checked]="toggleValue" [(ngModel)]="toggleValue" (ionChange)="toggleChange()" (click)="toggleClick($event)"></ion-toggle>
        <div class="bar">
            <div class="footer-bar footer-bar-white"></div>
        </div>
    </div>


</ion-content>
