.container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
}

ion-content {
    --background: var(--ion-color-primary);

    .white-pane-content {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        ion-text {
            width: 50%;
        }
    }

    .slide-button {
        div.slide-button-container {
            position: relative;
            border: 1px solid red!important;
            margin-top: 0.5rem;
            p {
                position: absolute;
                top: 0.8rem;
                right: 0.75rem;
                display: inline-block;
                max-width: 35%;
                width: auto;
                text-align: center;
                z-index: 10;
                margin: 0;
                color: red;
            }
            button {
                text-transform: none;
                font-size: 1.5rem;
                background-color: red;
            }
        }
        div.slide-button-container ~ p {
            margin-top: 0.5rem;
            margin-left: auto;
            margin-right: auto;
            color: red;
            width: 80%;
        }
    }
}