.challenge {
    margin-top: 30px;
    text-align: center;

    .challenge-title {
        margin-top: 30px;
        color: #5b636e;
    }

    .challenge-lists {
        margin: 30px 3px 60px;
        text-align: left;
        color: #5b636e;
    }

    .img-avatar {
        width: 55px;
        height: 55px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }

    .avatar {
        padding: 8px;
        vertical-align: middle;
    }

    .challenge-list {
        margin: 10px 0;

        p {
            font-size: 18px;
        }
    }

    .circle {
        border: #b0e6e2 2px solid;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}