.primary-pane {
    height: 75vh;
    padding: 30px 15px 27px 0;
    display: flex;
    flex-direction: column;

    .regeln-title {
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 36px;
    }

    .regeln-lists {
        display: flex;
        flex-direction: column;

        .regeln-item:last-child {
            margin-bottom: 0;
        }

        .regeln-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-bottom: 18px;

            .regeln-mark {
                width: 60px;
                height: 60px;
                background: #232448;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .regeln-label {
                margin-bottom: 0;
                line-height: 24px;
                font-size: 14px;
                padding-left: 10px;
                max-width: 80%;
            }
        }
    }
}

.container {
    padding: 0;
    height: auto;
}

ion-footer {
    background: var(--ion-color-primary);
}

.blank-30 {
    width: 100%;
    align-items: flex-start;
    padding: 15px;
}