<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" class="">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div class="blank-30">
            <ion-text color="primary">
                <h1 class="primary-color">
                    Meine Zeit ohne <br>
                    <span class="secondary-color">Die Challenge</span>
                </h1>
            </ion-text>
        </div>
        <div class="primary-pane border-top-right-radius">
            <p class="text-center regeln-title">CHALLENGE - REGELN</p>
            <div class="regeln-lists">
                <div class="regeln-item">
                    <div class="regeln-mark">
                        <img src="/assets/image/New/regeln-1.png" alt="regeln-1">
                    </div>
                    <p class="regeln-label">
                        Ich setze mir mein eigenes Ziel, das mich herausfordert.
                    </p>
                </div>
                <div class="regeln-item">
                    <div class="regeln-mark">
                        <img src="/assets/image/New/regeln-2.png" alt="regeln-2">
                    </div>
                    <p class="regeln-label">
                        Ich gebe täglich Rückmeldung in der APP, ob ich mein Ziel am Vortag erreicht habe.
                    </p>
                </div>
                <div class="regeln-item">
                    <div class="regeln-mark">
                        <img src="/assets/image/New/regeln-3.png" alt="regeln-3">
                    </div>
                    <p class="regeln-label">
                        Ich antworte nach jeder Rückmeldung auf eine kurze Nachfrage.
                    </p>
                </div>
                <div class="regeln-item">
                    <div class="regeln-mark">
                        <img src="/assets/image/New/regeln-4.png" alt="regeln-4">
                    </div>
                    <p class="regeln-label">
                        Nur, wenn ich mich täglich zurückgemeldet habe, kann ich meinen Challenge-Verlauf sehen.
                    </p>
                </div>
                <div class="regeln-item">
                    <div class="regeln-mark">
                        <img src="/assets/image/New/regeln-5.png" alt="regeln-5">
                    </div>
                    <p class="regeln-label">
                        Nur, wenn ich meine Challenge komplett bestanden habe, erhalte ich eine Challenge-Gewinner-Urkunde.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <div class="bar">
        <div class="footer-bar footer-bar-white"></div>
    </div>
</ion-footer>

