<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="back-button" [routerLink]="'/category-select/internet'">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="w-100">
            <div>
                <div>
                    <ion-text color="primary">
                        <h1 class="primary-color">
                            Meine Zeit ohne <br>
                            <span class="secondary-color">Die Challenge</span>
                        </h1>
                    </ion-text>
                    <p>
                        Ich verzichte für 14 Tage täglich auf eine App bzw. Plattform im Bereich:
                    </p>
                </div>
                <div class="mt-30 mb-30">

                </div>
            </div>
            <div class="w-100 select-container">
                <div class="ion-no-margin w-100">
                    <div *ngFor="let item of category; let index = index"
                         class="checkbox-container" (click)="selectCategory(index)">
                        <div class="avatar">
                            <div class="circle">
                                <div class="green-dot" *ngIf="selectedCategory === index"></div>
                            </div>
                        </div>
                        <p class="opacity-3">
                            {{item}}
                        </p>
                    </div>
                </div>
                <ion-input *ngIf="selectedCategory === 3" maxlength="40" class="text-field"
                           [(ngModel)]="anotherCategory"
                           placeholder="Enter app name">
                </ion-input>
            </div>
        </div>
        <div class="text-center button-container">
            <ion-button (click)="gotoDetailSelectPage()"
                        expand="block" class="button green-button" color="success" shape="round">
                Weiter
            </ion-button>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-footer>