<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-button [routerLink]="'/area'">
                <img src="/assets/image/QR%20Code%20Scanner/directional.png" alt="direction">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-button (click)="openMenu()">
                <img src="/assets/image/Verzichtsbereich/menu.png" alt="direction">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div>
            <div>
                <h1 class="ion-text-center font-large">
                    MEINE ZEIT
                </h1>
                <h1 class="ion-text-center font-large">
                    OHNE
                </h1>
            </div>
            <div class="ion-text-center">
                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">
            </div>
            <p class="ion-text-center font-size-18">Auf wieviel mochtest Du <br><b>verzichten</b>?</p>
        </div>
        <!--        <div class="percentage-lists">-->
        <ion-grid class="ion-justify-content-around">
            <ion-row class="percentage-list" (click)="selectPercentage(100)">
                <ion-col size="3" class="avatar">
                    <div class="circle"></div>
                    <div class="green-dot" *ngIf="selectedPercentage === 100"></div>
                    <!--                        <img src="/assets/image/Home/Oval.png" class="img-avatar" alt="Oval" *ngIf="selectedPercentage === 100">-->
                </ion-col>
                <ion-col size="9">
                    <p>
                        100% - Ich verzichte komplett
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="percentage-list" (click)="selectPercentage(75)">
                <ion-col size="3" class="avatar">
                    <div class="circle"></div>
                    <div class="green-dot" *ngIf="selectedPercentage === 75"></div>
                </ion-col>
                <ion-col size="9">
                    <p>
                        75% - Reduzierter Konsum
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="percentage-list" (click)="selectPercentage(50)">
                <ion-col size="3" class="avatar">
                    <div class="circle"></div>
                    <div class="green-dot" *ngIf="selectedPercentage === 50"></div>
                </ion-col>
                <ion-col size="9">
                    <p>
                        50% - Reduzierter Konsum
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="percentage-list" (click)="selectPercentage(25)">
                <ion-col size="3" class="avatar">
                    <div class="circle"></div>
                    <div class="green-dot" *ngIf="selectedPercentage === 25"></div>
                </ion-col>
                <ion-col size="9">
                    <p>
                        25% - Reduzierter Konsum
                    </p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="ion-no-padding justify-center">
                    <ion-button expand="block" class="ion-no-margin button " color="success" shape="round"
                                routerLink="/summary">STARTE
                        CHALLENGE
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="gradient-bar"></div>
    </div>

    <!--    </div>-->

</ion-content>
