<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="">
            <ion-button class="back-button opacity-4" [routerLink]="'/video-guide'">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div class="blank-30"></div>
        <div class="white-pane border-top-right-radius">
            <ion-text color="primary">
                <h1 class="primary-color">
                    Meine Zeit ohne <br>
                    <span class="secondary-color">Die Challenge</span>
                </h1>
            </ion-text>
            <div class="bubble bubble-right">
                <p class="opacity-3">
                    In den nächsten 14 Tagen trete ich MZo - Die Challenge an. Ich werde meine Gewohnheiten in folgendem Bereich testen
                </p>
                <img src="/assets/image/New/bubble-right.png" alt="bubble-right">
            </div>
            <div class="mt-2 position-relative">
                <ion-slides [options]="sliderConfig" pager="true" #slides>
                    <ion-slide *ngFor="let item of slideData">
                        <div>
                            <ion-card (click)="slideAction(item.title)">
                                <ion-card-header>
                                    <ion-card-title>
                                        {{item.title}}
                                    </ion-card-title>
                                    <ion-card-content>
                                        image
                                    </ion-card-content>
                                </ion-card-header>
                            </ion-card>
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class="slider-button">
                    <ion-buttons>
                        <ion-button color="medium" (click)="prevSlide()">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-buttons>
                        <ion-button color="medium" (click)="nextSlide()">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </div>
            </div>
            <p class="ion-text-center mt-5">
                Ich möchte meine Challenge in einem <br>
                <span class="border-bottom font-weight-bold" routerLink="/another-select-page">anderen Bereich</span> antreten
            </p>
        </div>
    </div>

</ion-content>

<ion-footer class="ion-no-border">
    <div class="bar">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-footer>
