.qrcode-container {
    display: flex;
    flex-direction: column;
    height: 233px;
    position: relative;
    width: 233px;
    justify-content: space-between;
    margin: auto;

    .qrcode-image {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
    }

    .border-top, .border-bottom {
        display: flex;
        justify-content: space-between;

        div {
            width: 50px;
            height: 50px;
        }
    }

    .border-top {
        .border-left {
            border-top: 3px solid #29c467;
            border-left: 3px solid #29c467;
            border-right: 0 solid #29c467;
            border-bottom: 0 solid #29c467;
        }

        .border-right {
            border-top: 3px solid #29c467;
            border-right: 3px solid #29c467;
            border-left: 0 solid #29c467;
            border-bottom: 0 solid #29c467;
        }
    }

    .border-bottom {
        .border-left {
            border-top: 0 solid #29c467;
            border-left: 3px solid #29c467;
            border-right: 0 solid #29c467;
            border-bottom: 3px solid #29c467;
        }

        .border-right {
            border-top: 0 solid #29c467;
            border-left: 0 solid #29c467;
            border-right: 3px solid #29c467;
            border-bottom: 3px solid #29c467;
        }
    }
}
