ion-content {

    ion-button {
        margin-top: 30px;
        width: 80vw;
    }

    mat-form-field {
        width: 80vw;
        mat-label {
            font-size: 18px;
        }
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 2px;
        background: var(--ion-color-success);
        transform: none;
    }

    ::ng-deep .mat-form-field-label {
        text-align: center;
    }
}

