.container {
    align-items: inherit;
    justify-content: flex-start;
    padding-bottom: 27px;

    .title {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }

    .challenge-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;

        .item-container {
            display: flex;
            flex-direction: column;
            width: 40px;
            margin-left: 1.1vw;
            margin-right: 1.1vw;

            .item-label {
                font-size: 10px;
                line-height: 12px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
                color: #b6b6c2;
                margin-top: 5px;
            }
        }
    }

    .box {
        border-radius: 12px;
        width: 12vw;
        height: 12vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: #F6F7FB;
    }

    .green {
        background-color: var(--ion-color-success);
    }

    .red {
        background-color: var(--ion-color-danger);
    }

    .missing {
        background-color: var(--ion-color-warning);
    }

    .today {
        .box {
            border: 1px solid var(--ion-color-success);
        }
        .item-label {
            color: var(--ion-color-primary) !important;
        }
    }

    .legende {
        margin-top: 50px;

        .legende-container {
            margin-bottom: 16px;
        }

        .legende-item {
            display: flex;
            flex-direction: row;
            align-items: center;

            .box {
                width: 20px;
                height: 20px;
                border-radius: 4px;
            }

            p {
                margin-bottom: 0;
                opacity: 0.3;
                padding-left: 12px;
            }
        }
    }
}

//
//.mark-explain-container {
//    display: block;
//    width: 90%;
//}
//
//.mark-explain-title {
//    font-size: 20px;
//    margin-bottom: 20px;
//}
//
//.box {
//    width: 17px;
//    height: 14px;
//    border: 1px solid grey;
//    margin: 5px 2px;
//}
//
//.green {
//    background-color: mediumspringgreen;
//}
//
//.red {
//    background-color: red;
//}
//
//.missing {
//    font-size: 14px;
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: center;
//    font-weight: bold;
//}
//
//.box-title {
//    font-size: 12px;
//    margin-left: 15px;
//}
//
//.mark-explain {
//    padding-left: 10px;
//}
//
//.current-day {
//    border-top: 2px solid black;
//    border-bottom: 2px solid black;
//}
//
//.number-box {
//    width: 17px;
//    height: 14px;
//    margin: 0 2px;
//    text-align: center;
//    align-items: center;
//    justify-content: center;
//    font-family: sans-serif;
//}
//
//.container {
//    height: 150%;
//}
//
//.custom {
//    font-size: 15px;
//}
//
//ion-header {
//    background-color: white;
//}
//
//.bolder-text {
//    color: rgb(117, 114, 114);
//    font-size: 24px;
//    font-weight: 700;
//    font-family: Arial, serif;
//    line-height: 25px;
//}