<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div>
            <ion-text color="primary">
                <h1 class="primary-color">
                    Meine Zeit ohne <br>
                    <span class="secondary-color">Die Challenge</span>
                </h1>
            </ion-text>challenge-progress
            <p>
                In den nächsten 14 Tagen verzichte ich komplett auf <b>{{dispense?.category}}</b>
            </p>
        </div>
        <div class="bubble progress-container w-100">
            <circle-progress [percent]="(dispense?.day_after + 1) * 100 / 14"></circle-progress>
            <p>Tag {{dispense?.day_after === 14 ? 14 : dispense?.day_after + 1}} von 14</p>
        </div>
        <div class="bubble bubble-left mb-2 day-7" *ngIf="dispense?.day_after === 6">
            <img src="/assets/image/New/day7-bubble.png" alt="bubble-left">
            <p>
                Bergfest! Die Hälfte der Challenge ist geschafft!
            </p>
        </div>
        <div class="bubble bubble-left mb-2" *ngIf="dispense?.day_after === 13">
            <img src="/assets/image/New/bubble-left.png" alt="bubble-left">
            <p>
                Wow ! <br> Heute ist Tag 14 deiner Challenge
            </p>
        </div>
        <div class="bubble bubble-left mb-2" *ngIf="dispense?.day_after === 13">
            <img src="/assets/image/New/bubble-left.png" alt="bubble-left">
            <p>
                Erreichst du dein Ziel?
            </p>
        </div>
        <div class="bubble bubble-left mb-4" *ngIf="dispense?.day_after === 13">
            <img src="/assets/image/New/bubble-left.png" alt="bubble-left">
            <p>
                Nach deiner Rückmeldung für den heutigen, d.h. letzten Tag der Challenge, erhälst du eine Teilnehmer - Urkunde. Bleib dran!
            </p>
        </div>
        <div class="bubble bubble-left mb-4" *ngIf="dispense?.day_after === 14">
            <img src="/assets/image/New/bubble-left.png" alt="bubble-left">
            <p>
                <span [routerLink]="'/final-page'"><b><u>Melde dich zurück</u></b></span> und lade dir deine Teilnahme - Urkunde herunter.
            </p>
        </div>
        <p class="title">Mein Challenge Verlauf</p>
        <div class="challenge-container">
            <div *ngFor="let i of day; let index = index;"
                 (click)="missing_box(index)"
                 class="item-container"
                 [ngClass]="{'today': dispense?.day_after === index}">
                <div [ngClass]="{
                     'box': true,
                     'green': feedback && feedback['day' + (index + 1)] === 1,
                     'red': feedback && feedback['day' + (index + 1)] === 0,
                     'missing': feedback && feedback['day' + (index + 1)] === null && dispense?.day_after > index
                     }">
                    {{feedback && feedback['day' + (index + 1)] === null && dispense?.day_after > index ? '?' : ''}}
                    <ion-icon *ngIf="feedback && feedback['day' + (index + 1)] === 1" name="checkmark-outline"></ion-icon>
                    <ion-icon *ngIf="feedback && feedback['day' + (index + 1)] === 0" name="close-outline"></ion-icon>
                </div>
                <p class="item-label">TAG {{index + 1}}</p>
            </div>
        </div>
        <div class="challenge-container">
            <div *ngFor="let i of day; let index = index;"
                 (click)="missing_box(index + 7)"
                 class="item-container"
                 [ngClass]="{'today': dispense?.day_after === index + 7}">
                <div [ngClass]="{
                     'box': true,
                     'green': feedback && feedback['day' + (index + 7 + 1)] === 1,
                     'red': feedback && feedback['day' + (index + 7 + 1)] === 0,
                     'missing': feedback && feedback['day' + (index + 7 + 1)] === null && dispense?.day_after > index + 7
                     }">
                    {{feedback && feedback['day' + (index + 7 + 1)] === null && dispense?.day_after > index + 7 ? '?' : ''}}
                    <ion-icon *ngIf="feedback && feedback['day' + (index + 7 + 1)] === 1" name="checkmark-outline"></ion-icon>
                    <ion-icon *ngIf="feedback && feedback['day' + (index + 7 + 1)] === 0" name="close-outline"></ion-icon>
                </div>
                <p class="item-label">TAG {{index + 7 + 1}}</p>
            </div>
        </div>
        <div class="legende">
            <p>Legende</p>
            <div class="legende-container">
                <div class="legende-item">
                    <div class="box green"></div>
                    <p class="item-label">Challenge - Ziel erreicht</p>
                </div>
            </div>
            <div class="legende-container">
                <div class="legende-item">
                    <div class="box red"></div>
                    <p class="item-label">Challenge - Ziel verfehlt</p>
                </div>
            </div>
            <div class="legende-container">
                <div class="legende-item">
                    <div class="box missing"></div>
                    <p class="item-label">Rückmeldung fehlt</p>
                </div>
            </div>
            <div class="legende-container">
                <div class="legende-item today">
                    <div class="box"></div>
                    <p class="item-label">Heutiger Tag</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="dispense?.day_after !== 14" class="text-center button-container">
        <ion-button expand="block" class="button custom" color="success" shape="round"
                    [routerLink]="'/challenge-cancel'">
            Die Challenge abbrechen
        </ion-button>
    </div>
    <div class="bar mt-30">
        <div class="footer-bar footer-bar-grey"></div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">

</ion-footer>
