<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home">
    <div class="container">
        <div>
            <ion-text color="primary">
                <h1 class="primary-color">
                    Meine Zeit ohne <br>
                    <span class="secondary-color">Die Challenge</span>
                </h1>
            </ion-text>
            <p>
                In den nächsten 14 Tage komplett auf <b>{{dispense?.category}}</b>
            </p>
        </div>
        <div class="bubble progress-container w-100">
            <circle-progress [percent]="(dispense?.day_after) * 100 / 14"></circle-progress>
            <p>Tag {{dispense?.day_after + 1}} von 14</p>
        </div>
        <p class="title">Mein Challenge Verlauf</p>
        <div class="challenge-container">

        </div>
        <!--            <div class="bubble bubble-left mb-2">-->
        <!--                <img src="/assets/image/New/bubble-left.png" alt="bubble-right">-->
        <!--                <p>-->
        <!--                    Hast du gestern dein Challenge-Ziel erreicht ?-->
        <!--                </p>-->
        <!--            </div>-->
    </div>
    <div class="text-center button-container">
        <ion-button expand="block" class="button" color="success" shape="round"
                    [routerLink]="'/daily-feedback/' + dispense?.day_after">
            Meide dich zurück!
        </ion-button>
    </div>

    <!--    <div class="container" *ngIf="dispense?.day_after !== 14">-->
    <!--        <div>-->
    <!--            <h1 class="ion-text-center font-large">-->
    <!--                Meine Zeit ohne <br>-->
    <!--                - Die challenge - -->
    <!--            </h1>-->
    <!--            <div class="ion-text-center">-->
    <!--                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="w-100 d-flex flex-row justify-content-end" *ngIf="dispense?.day_after === 6">-->
    <!--            <div class="float-right">-->
    <!--                Tag{{dispense?.day_after + 1}} von 14-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="text-center bolder-text" *ngIf="dispense?.day_after === 6">-->
    <!--            Bergfest! <br>-->
    <!--            Die Hälfte <br>-->
    <!--            der Challenge <br>-->
    <!--            ist geschafft!-->
    <!--        </div>-->

    <!--        <div class="text-center speech-bubble" *ngIf="dispense?.day_after === 13">-->
    <!--            Wow ! <br>-->
    <!--            Heute ist Tag 14 deiner <br> Challenge.-->
    <!--        </div>-->

    <!--        <div class="text-center speech-bubble" *ngIf="dispense?.day_after === 13">-->
    <!--            Erreichst du dein Ziel?-->
    <!--        </div>-->

    <!--        <div class="text-center" *ngIf="dispense?.day_after !== 6">-->
    <!--            Ich verzichte für 14 Tage <br>-->
    <!--            komplett auf <span class="font-weight-bold"> {{dispense?.category}}</span>-->
    <!--        </div>-->

    <!--        <div class="text-center" *ngIf="dispense?.day_after !== 6">-->
    <!--            Tag {{dispense?.day_after + 1}} von 14-->
    <!--        </div>-->

    <!--        <div class="ion-text-center">-->
    <!--            <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">-->
    <!--        </div>-->

    <!--        <div class="text-center" *ngIf="dispense?.day_after === 6">-->
    <!--            Ich verzichte für 14 Tage <br>-->
    <!--            komplett auf <span class="font-weight-bold"> {{dispense?.category}}</span>-->
    <!--        </div>-->

    <!--        <div class="text-center speech-bubble" *ngIf="dispense?.day_after === 13">-->
    <!--            Nach deiner Rückmeldung für <br> den heutigen, d.h. letzten Tag <br>-->
    <!--            der Challenge, erhälst du eine <br> Teilnehmer - Urkunde. <br>-->
    <!--            Bleib dran !-->
    <!--        </div>-->

    <!--        <div class="text-center subtitle">-->
    <!--            Mein bisheriger <br>-->
    <!--            Challenge - Verlauf-->
    <!--        </div>-->

    <!--        <div style="width: 90%;">-->
    <!--            <div class="d-flex flex-row justify-content-between align-items-center w-100">-->
    <!--                <img src="assets/image/Tag%201/Bitmap.png" height="1" alt="arrow">-->
    <!--                <div>Tag {{dispense?.day_after + 1}} von 14</div>-->
    <!--            </div>-->
    <!--            <div class="border border-dark w-100 d-flex flex-row justify-content-center align-items-center">-->
    <!--                <div *ngFor="let i of day; let index = index;"-->
    <!--                     (click)="missing_box(index)"-->
    <!--                     [ngClass]="{'current-day': dispense?.day_after === index}">-->
    <!--                    <div [ngClass]="{-->
    <!--                     'box': true,-->
    <!--                     'green': feedback && feedback['day' + (index + 1)] === 1,-->
    <!--                     'red': feedback && feedback['day' + (index + 1)] === 0,-->
    <!--                     'missing': feedback && feedback['day' + (index + 1)] === null-->
    <!--                     }">-->
    <!--                        {{feedback && feedback['day' + (index + 1)] === null && dispense?.day_after > index ? '?' : ''}}-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="w-100 d-flex flex-row justify-content-center align-items-center">-->
    <!--                <div class="number-box">1</div>-->
    <!--                <div class="number-box">2</div>-->
    <!--                <div class="number-box">3</div>-->
    <!--                <div class="number-box">4</div>-->
    <!--                <div class="number-box">5</div>-->
    <!--                <div class="number-box">6</div>-->
    <!--                <div class="number-box">7</div>-->
    <!--                <div class="number-box">8</div>-->
    <!--                <div class="number-box">9</div>-->
    <!--                <div class="number-box">10</div>-->
    <!--                <div class="number-box">11</div>-->
    <!--                <div class="number-box">12</div>-->
    <!--                <div class="number-box">13</div>-->
    <!--                <div class="number-box">14</div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="mark-explain-container">-->
    <!--            <div class="mark-explain-title">Legende</div>-->
    <!--            <div class="mark-explain">-->
    <!--                <div class="d-flex flex-row justify-content-start align-items-center">-->
    <!--                    <div class="box green"></div>-->
    <!--                    <div class="box-title">Challenge - Ziel erreicht</div>-->
    <!--                </div>-->
    <!--                <div class="d-flex flex-row justify-content-start align-items-center">-->
    <!--                    <div class="box red"></div>-->
    <!--                    <div class="box-title">Challenge - Ziel verfehlt</div>-->
    <!--                </div>-->
    <!--                <div class="d-flex flex-row justify-content-start align-items-center">-->
    <!--                    <div class="box missing">?</div>-->
    <!--                    <div class="box-title">Rückmeldung fehlt</div>-->
    <!--                </div>-->
    <!--                <div class="d-flex flex-row justify-content-start align-items-center">-->
    <!--                    <div class="box"></div>-->
    <!--                    <div class="box-title">Heutiger Tag</div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <ion-button expand="block" class="button custom" color="success" shape="round"-->
    <!--                    [routerLink]="'/challenge-cancel'">-->
    <!--            MZo - Die Challenge abbrechen-->
    <!--        </ion-button>-->

    <!--        <div class="gradient-bar"></div>-->
    <!--    </div>-->
    <!--    <div class="container" *ngIf="dispense?.day_after === 14">-->
    <!--        <div>-->
    <!--            <h1 class="ion-text-center font-large">-->
    <!--                Meine Zeit ohne <br>-->
    <!--                - Die challenge - -->
    <!--            </h1>-->
    <!--            <div class="ion-text-center">-->
    <!--                <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="text-center speech-bubble">-->
    <!--            14 Tage MZo - Die Challenge <br>-->
    <!--            ist nun beendet!-->
    <!--        </div>-->

    <!--        <div class="text-center speech-bubble">-->
    <!--            Melde dich zurück und lade dir <br> deine Teilnahme - Urkunde <br> herunter.-->
    <!--        </div>-->

    <!--        <div class="ion-text-center">-->
    <!--            <img src="/assets/image/Home/Bitmap.png" alt="Bitmap" class="ion-margin-top ion-margin-bottom">-->
    <!--        </div>-->

    <!--        <div class="text-center subtitle">-->
    <!--            Challenge - Verlaufs - <br> Diagramm-->
    <!--        </div>-->

    <!--        <div style="width: 90%;">-->
    <!--            <div class="d-flex flex-row justify-content-between align-items-center w-100">-->
    <!--                <img src="assets/image/Tag%201/Bitmap.png" height="1" alt="arrow">-->
    <!--                <div>Tag {{dispense?.day_after}} von 14</div>-->
    <!--            </div>-->
    <!--            <div class="border border-dark w-100 d-flex flex-row justify-content-center align-items-center">-->
    <!--                <div (click)="missing_box(index)"-->
    <!--                     *ngFor="let i of day; let index = index;"-->
    <!--                     [ngClass]="{'current-day': dispense?.day_after === index}"-->
    <!--                >-->
    <!--                    <div [ngClass]="{-->
    <!--                     'box': true,-->
    <!--                     'green': feedback && feedback['day' + (index + 1)] === 1,-->
    <!--                     'red': feedback && feedback['day' + (index + 1)] === 0,-->
    <!--                     'missing': feedback && feedback['day' + (index + 1)] === null-->
    <!--                     }">-->
    <!--                        {{feedback && feedback['day' + (index + 1)] === null && dispense?.day_after > index ? '?' : ''}}-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="gradient-bar"></div>-->
    <!--    </div>-->
</ion-content>
