@font-face {
    font-family: Raleway-Regular;
    font-style: normal;
    src: url("/assets/font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Symbola";
    src: url("/assets/font/Symbola-Emoji.woff") format("woff"),
    url("/assets/font/Symbola-Emoji.ttf") format("ttf");
}

@font-face {
    font-family: Raleway-Medium;
    font-style: normal;
    src: url("/assets/font/Raleway-Medium.ttf");
}

.font-weight-bold {
    font-weight: bold;
}

.font-large {
    font-size: 36px !important;
    font-family: Raleway-Regular !important;
}

.main-title {
    line-height: 50px !important;
    padding: 0 25px;
}

.font-size-18 {
    font-size: 18px;
}

ion-toolbar {
    --background: #f5f6f6 !important;
    --background-image: none;

    ion-menu-button {
        font-size: 50px !important;
    }
}

.header-md::after {
    background-image: none;
}

ion-content {

    p {
        font-size: 16px;
    }

    --ion-font-family: Raleway-Medium;
    --background: #f5f6f6;

    .container {
        display: flex;
        min-height: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        color: var(--ion-color-medium);
    }

    .container > div:first-child {
        margin-top: 20px;
    }

    .container > div:first-child img {
        margin: 20px;
    }

    .border {
        //border: 2px solid red;
    }

    .button {
        height: 45px;
        font-size: 17px;
        width: 80vw;
        text-transform: none;
    }

    .main-container {
        background: url("/assets/image/New/home.png") no-repeat center top fixed;
        background-size: 100% ;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .input-container {
        background-color: #ffffff;
        border-top-right-radius: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .input-container-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            padding: 35px 40px;

            h1 {
                font-size: 28px;
                line-height: 33px;
                font-style: normal;
            }

            .input-code {
                background-color: #ffffff;
                border: 1px solid #e6e1e1;
                border-radius: 4px;
                color: var(--ion-color-primary);
                text-align: center;
                font-size: 20px;
                height: 48px;
            }

            .sc-ion-input-md-h {
                --placeholder-color: #151624;
                --placeholder-opacity: 0.5;
                font-size: 14px;
            }

            .form-code {
                width: 80vw;
            }

            .sc-ion-input-md-h {
                --padding-top: 8px;
                --padding-bottom: 8px;
            }

            .bar {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
            }

            .button-code {
                margin-top: 20px;
            }

            .privacy-checkbox {
                display: flex;
                flex-direction: row;
                align-items: start;
                ion-checkbox {
                    flex: 1 1 27px;
                    width: 18px;
                    margin-top: 0.25rem;
                }

                ion-label {
                    margin-left: 10px;
                    opacity: 0.3;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}

.alert-button-group {
    flex-direction: row !important;
}

.alert-button-group .alert-button-group-vertical {
    flex-direction: row;
}

.border {
    border: 1px solid red;
}

.custom-modal .modal-wrapper {
    width: 300px;
    height: 450px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.other-category {
    width: 90%;
    background-color: #55575d;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.speech-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 8px solid #2CB9B0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    margin-bottom: 45px;
}

.speech-bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    bottom: -24px;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
.speech-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    bottom: -44px;
    border: 22px solid;
    border-color: #2CB9B0 transparent transparent #2CB9B0;
}

body {
    color: #0C0D34;
}

.menu-button {
    background-color: #FAFAFA;
    border-radius: 26px;
    width: 44px;
    height: 44px!important;
}

.back-button {
    background-color: #FAFAFA;
    opacity: 0.4;
    border-radius: 26px;
    width: 44px;
    height: 44px!important;
}

.blank-100 {
    height: 80%;
}

p, .primary-color {
    color: var(--ion-color-primary);
}

.secondary-color {
    color: var(--ion-color-secondary)
}

.footer-bar {
    width: 134px;
    height: 5px;
    border-radius: 100px;
    margin-bottom: 0.5rem;
}

.footer-bar-grey {
    background-color: #4f4f4f;
}

.footer-bar-white {
    background-color: #ffffff;
}

