@font-face {
    font-family: Raleway-Regular;
    font-style: normal;
    src: url("/assets/font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Symbola";
    src: url("/assets/font/Symbola-Emoji.woff") format("woff"),
    url("/assets/font/Symbola-Emoji.ttf") format("ttf");
}

@font-face {
    font-family: Raleway-Medium;
    font-style: normal;
    src: url("/assets/font/Raleway-Medium.ttf");
}

.font-weight-bold {
    font-weight: bold;
}

.font-large {
    font-size: 36px !important;
    font-family: Raleway-Regular !important;
}

.main-title {
    line-height: 50px !important;
    padding: 0 25px;
}

.font-size-18 {
    font-size: 18px;
}

.gradient-bar {
    height: 12px;
    width: 100vw;
    background: linear-gradient(90deg, rgba(0, 203, 255, 1) 22%, rgba(0, 225, 193, 1) 48%, rgba(73, 243, 132, 1) 100%);;
}

ion-toolbar {
    --background: #f5f6f6 !important;
    --background-image: none;

    ion-menu-button {
        font-size: 50px !important;
    }
}

.header-md::after {
    background-image: none;
}

ion-content {

    p {
        font-size: 18px;
    }

    --ion-font-family: Raleway-Medium;
    --background: #f5f6f6;

    .container {
        display: flex;
        min-height: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        color: var(--ion-color-medium);
    }

    .container > div:first-child {
        margin-top: 20px;
    }

    .container > div:first-child img {
        margin: 20px;
    }

    .border {
        //border: 2px solid red;
    }

    .button {
        height: 45px;
        font-size: 17px;
        width: 80vw;
        text-transform: none;
    }
}

.alert-button-group {
    flex-direction: row !important;
}

.alert-button-group .alert-button-group-vertical {
    flex-direction: row;
}

.border {
    border: 1px solid red;
}

.custom-modal .modal-wrapper {
    width: 300px;
    height: 450px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.other-category {
    width: 90%;
    background-color: #55575d;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.speech-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 8px solid #2CB9B0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    margin-bottom: 45px;
}

.speech-bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    bottom: -24px;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
.speech-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    bottom: -44px;
    border: 22px solid;
    border-color: #2CB9B0 transparent transparent #2CB9B0;
}

