@font-face {
    font-family: Raleway-Regular;
    font-style: normal;
    src: url("/assets/font/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Medium;
    font-style: normal;
    src: url("/assets/font/Raleway-Medium.ttf");
}

.font-weight-bold {
    font-weight: bold;
}

.font-large {
    font-size: 36px!important;
    font-family: Raleway-Regular!important;
}

.font-size-18 {
    font-size: 18px;
}

.gradient-bar {
    height: 12px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,203,255,1) 22%, rgba(0,225,193,1) 48%, rgba(73,243,132,1) 100%);;
}

ion-toolbar {
    --background: transparent!important;
    --background-image: none;

    ion-menu-button {
        font-size: 50px !important;
    }
}

.header-md::after {
    background-image: none;
}

ion-content {

    p {
        font-size: 18px;
    }

    --ion-font-family: Raleway-Medium;
    --background: #f5f6f6;

    .container {
        display: flex;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        color: var(--ion-color-medium);
    }

    .container > div:first-child {
        margin-top: 20px;
    }

    .container > div:first-child img {
        margin: 20px;
    }

    .border {
        //border: 2px solid red;
    }

    .button {
        height: 50px;
        font-size: 17px;
    }
}

.alert-button-group {
    flex-direction: row !important;
}

.alert-button-group .alert-button-group-vertical {
    flex-direction: row;
}

.border {
    border: 1px solid red;
}

.custom-modal .modal-wrapper {
    width: 300px;
    height: 450px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}