<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="back-button" [routerLink]="'/home'">
                <ion-icon size="large" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="menu-button" (click)="openMenu()">
                <ion-icon size="large" name="reorder-two-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="home">
    <div class="main-container">
        <div class="blank-100"></div>
        <div class="input-container">
            <div class="input-container-box">
                <ion-text color="primary" class="ion-text-center">
                    <h1 class="primary-color">
                        Willkommen bei meine Zeit ohne <span class="secondary-color">Die Challenge</span>
                    </h1>
                </ion-text>
                <form class="form-code">
                    <ion-input class="input-code" [(ngModel)]="backupPassword" name="code"
                               placeholder="Backup Passwort"></ion-input>
                    <p class="mat-error ion-text-center" *ngIf="attemptCount !== 0">You have {{5 - attemptCount}}
                        attempts.</p>
                    <div>
                        <div class="privacy-checkbox">
                            <ion-checkbox color="primary" [checked]="isChecked" (ionChange)="onChange()"></ion-checkbox>
                            <ion-label color="primary">
                                Ich erkläre mich himit mit der
                                <span class="border-bottom" [routerLink]="'/privacy'">
                                <b>Datenschutzerklärung</b>
                            </span>
                                einverstanden
                            </ion-label>
                        </div>
                        <div class="text-center">
                            <ion-button class="button-code" [disabled]="!backupPassword || !isChecked"
                                        color="secondary" shape="round" (click)="backup_password()">
                                Einloggen
                            </ion-button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bar">
                <div class="footer-bar footer-bar-grey"></div>
            </div>
        </div>
    </div>
</ion-content>
