ion-header {
    position: fixed;
    height: 50px;

    ion-toolbar {
        --background: transparent !important;
    }
}

ion-content {
    display: flex;
    flex-direction: column;

    .form-code {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60%;
    }

    .input-code {
        flex: none;
    }
}